<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
<title>List of People</title>

	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	<link type="text/css" rel="stylesheet" href="materialize/css/materialize.css" media="screen,projection" />
	<link type="text/css" rel="stylesheet" href="materialize.min.css" media="screen,projection" />
</head>
<body>
	<div style="text-align:center;"><h3>List of People</h3></div>
	<div th:unless="${#lists.isEmpty(people)}">
		<div style="max-height:75%; overflow:auto;">
			<table style="width:80%;" align="center">
				<tr>
					<th>Name</th>
					<th>PPS Number</th>
					<th>Date of Birth</th>
					<th>Mobile Phone</th>
				</tr>
					<tr th:each="person : ${people}">
					<td th:text="${person.name}"></td>
		 			<td th:text="${person.ppsn}"></td>
		 			<td th:text="${#dates.format(person.dateOfBirth,'dd/MM/yyyy')}"></td>
		 			<td th:text="${person.mobilePhone}"></td>
				</tr>
			</table>
		</div>
	</div>
	<div style="text-align:center; margin-top:10%; height:20%;" th:if="${#lists.isEmpty(people)}">
		<p>No records have been created</p>
	</div>
	<div style="margin-top:60px; text-align:center">
		<a href="/back"><input style="height:20px" class="waves-effect waves-light btn-small" type="button" value="Back"></input></a>
	</div>

	<script type="text/javascript" src="materialize/js/materialize.js"></script>
	<script type="text/javascript" src="materialize/js/materialize.min.js"></script>
</body>
</html>