<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<title>Registration of Person</title>

<link href="https://fonts.googleapis.com/icon?family=Material+Icons"
	rel="stylesheet">
<link type="text/css" rel="stylesheet"
	href="materialize/css/materialize.css" media="screen,projection" />
<link type="text/css" rel="stylesheet" href="materialize.min.css"
	media="screen,projection" />
</head>
<body>
	<h2>List of People</h2>
	<div th:unless="${#lists.isEmpty(people)}">
		<table>
			<tr>
				<th>Name</th>
				<th>PPS Number</th>
				<th>Date of Birth</th>
				<th>Mobile Phone</th>
			</tr>
			<tr th:each="person : ${people}">
				<td width="25%" th:text="${person.name}"></td>
	 			<td width="25%" th:text="${person.ppsn}"></td>
	 			<td width="25%" th:text="${person.dateOfBirth}"></td>
	 			<td width="25%" th:text="${person.mobilePhone}"></td>
			</tr>
		</table>
	</div>
	<div th:if="${#lists.isEmpty(people)}">
		<p>No records have been created</p>
	</div>
	<div style="margin-top:60px; text-align:center">
		<a href="/back"><input style="height:20px" class="waves-effect waves-light btn-small" type="button" value="Back"></input></a>
	</div>

	<script type="text/javascript" src="materialize/js/materialize.js"></script>
	<script type="text/javascript" src="materialize/js/materialize.min.js"></script>
</body>
</html>